{
  email {$ACME_EMAIL}
  admin off
}

{$PETLINK_DOMAIN} {
  encode zstd gzip

  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains"
    X-Content-Type-Options "nosniff"
    X-Frame-Options "DENY"
    Referrer-Policy "no-referrer"
    -Server
  }

  reverse_proxy sync-server:8787
}
